<app-search-form></app-search-form>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img
          class="card-img-top"
          [src]="user.profilePhoto"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">User Details</h5>
          <p class="card-text">
            {{ user.userName }}
          </p>
        </div>
        <button (click)="getRepoData()" class="btn btn-danger">
          View Repos
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <app-repositories [repos]="repos"></app-repositories>
    </div>
  </div>
</div>
<!-- <button class="btn btn-danger" (click)="searchRepo()">
            View Repos
          </button>-->
